.side-bar{
    grid-column: 2/2;
    margin: 40px 40px 40px 0;
    background-color: $clr6;
    height: 100vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;  
    .logo{
        flex: 1;
        h1{
            font-size: 32px;
            font-weight: 700;
            color:$clr1;
            margin: 0;
        }
    }
    .settings{
        flex: 2;
        .setting{
            height: 35%;
        }
    }
}