.task-app{
    background-color: $clr2;
    height: 100%;
    .task-preview-app{
        grid-row: 1/1;
        margin: 40px 0 40px 40px;
        display: grid;
        grid-template-rows: 50px 1fr;
        gap:40px 0;
    }
}

@media screen and (max-width:1100px){
    html{
        font-size: 13px;
    }
}