// Colors
//PRIMARY-COLORS
$clr1: #1C1C1C;
$clr2: #efefef;
$clr3: #65676D;
//SECONDARY-COLORS
$clr5: #616161;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 600px;
$narrow-breakpoint: 900px;
$normal-breakpoint: 1160px;